@tailwind base;
@tailwind components;
@tailwind utilities;

.banner1{

    font-family: 'Inter';
    width: auto;
    height: 680.41px;
}


.banner2{

    height: 906px;
    width: auto;
}

.Aboutpage{

    height: 1262px;
    width: auto;
}